@import 'tailwindcss';

@theme {
  --color-dark: #030911;       /* Background */
  --color-primary: #EFCCFE;    /* Main Text & Logo Text */
  --color-secondary: #0D274E;   /* Muted text, borders */
  --color-accent: #63579E;      /* Buttons, highlights */
  --color-highlight: #2E3373;   /* Hover effects */
}